# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Model Weights
*.ckpt

# Streamlit
.streamlit/

# Cache
.cache/

# Temporary files
*.tmp